.navbar-light .navbar-nav .nav-link {
    color: #5a6268 !important;
}

.navbar-light .navbar-toggler-icon {
    background-color: #5a6268;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-item {
    height:30px;
    display: flex;
    align-items: center;
}