<div class="container">
    <h2>Register</h2>
    <div>name: <input [(ngModel)]="register.name" /></div>
    <div>email: <input [(ngModel)]="register.email" /></div>
    <div>password: <input [(ngModel)]="register.password" /></div>
    <button (click)="Register(register)">Register</button>
    <h2>login</h2>
    <div>email: <input [(ngModel)]="login.email" value="lewis1@gmail.com"/></div>
    <div>password: <input [(ngModel)]="login.password" value="P@ssword123!" /></div>
    <button (click)="Login(login)">Login</button>
</div>